/* ページ全体 */

body {
    background-color: #0f1923;
}


/** ヘッダー */

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 0 8px 0;
}

.header_logo {}

.logo_image {}

.header_menu {}


/* リンク文字 */

.header_menu_item a {}


/* リンク文字ホバー時 */

a:hover {}

.contents_item h1 {}