/* ページ全体 */

body {
  background-color: #0f1923;
}

/** ヘッダー */

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 0 8px 0;
}

.header_logo {
}

.logo_image {
}

.header_menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/* リンク文字 */

.header_menu_item a {
}

/* リンク文字ホバー時 */

a:hover {
}

.contents_item h1 {
}
/* ここから自分で足した */

.logo-size {
  width: 90px;
  height: 90px;
  margin: 10px;
}

.header-menu-item {
  color: green;
  margin: 4px;
}

a:link {
  color: green;
  text-decoration: none;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("/img/about.jpg");
}

.team-name {
  color: lightgreen;
  font-size: 60px;
  margin: 0 0 0 20px;
}

.about-text {
  color: white;
  font-size: 20px;
  width: 50%;
  height: 100%;
  margin: 20px;
  word-break: break-all;
}

.member-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.member-container-text {
  color: lightgreen;
  font-size: 30px;
  margin: 0 0 0 2%;
}

.member-container-memberlist {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.members {
  background-color: #0f1923;
  width: 16%;
  margin: 0 2% 2% 2%;
}

.members img {
  width: 80%;
}

.member-size {
  margin: 10%;
}

.member-name {
  width: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
}

.gametitle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #0f1923;
}

.gametitle-container-text {
  color: lightgreen;
  font-size: 30px;
  margin: 5% 0 0 8%;
}

.gametitles {
  background-color: rgb(252, 207, 214);
  width: 16%;
  margin: 0 3% 5% 3%;
}

.gametitles img {
  width: 80%;
}

.gametitle-size {
  margin: 10%;
}

.gametitle-name {
  width: 100%;
  color: black;
  font-size: 20px;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgb(250, 149, 138);
}

.contact-container-title {
  color: lightgreen;
  font-size: 30px;
  margin: 0 0 0 5%;
}

.contact-container-text {
}

@media screen and (max-width: 480px) {
  /*　画面サイズが480pxからはここを読み込む　*/
  .team-name {
    font-size: 24px;
  }
}
